.intro {
    height: 96vh;
    display: block;
    width: 100%;
}

.trending {
    height: auto;
    background: url("https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2022/08/04/507939969.jpg");
    background-size: cover;
}

.superhero {
    height: auto;
    background: url("https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2022/08/04/507939969.jpg");
    background-size: cover;
}

.action {
    height: auto;
    background: url("https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2022/08/04/507939969.jpg");
    background-size: cover;
}

.movieImage {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 2px;
}

.images {
    height: 400px;
}

h1 {
    color: white;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

h2 {
    text-shadow: 2px 3px black;
}